<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{bio.firstName}} {{bio.lastName}}</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
		body {
			font-size: 62.5%;
			font-family: "Montserrat";
			color: #333333;
		}
		a {
			color: #333333;
			text-decoration: none;
		}
		a:visited {
			color: #4e4e4e;
		}
		a:hover {
			color: #4e4e4e;
			text-decoration: underline;
		}
		
		.header {
			text-align:center;
			font-size: 2em;
			margin-left:5%;
			margin-rightt:5%;
		}
		h1 {
			font-size:3em;
		}
		.contact-header {
			font-weight:bold;
		}
		.fa {
			font-size:2em;
		}
		.fa-facebook-square {
			color: #3b5998;
		}
		.fa-youtube-square {
			color: #bb0000;
		}
		.fa-google-plus-square {
			color: #d34836;
		}
		.fa-behance-square {
			color: #1769ff;
		}
		.fa-vimeo-square {
			color: #1ab7ea;
		}
		.fa-linkedin-square {
			color: #007bb6;
		}
		.fa-pinterest-square {
			color: #cb2027;
		}

		.fa-codepen {
			font-size: 1em;
			padding-left: 0.35em;
		}
		.fa-stack {
			font-size:1em;
			display:inline;
		}
		.fa-twitter-square {
			color: #4099FF;
		}
		.fa-github-square {
			color: #000;
		}
		.fa-flickr {
			color: #ff0084
		}
		.fa-rss-square {
			color: #FF6600;
		}
		.left {
			font-size: 1em;
		}
		.main {
			margin 0 auto;
			margin-left: 10%;
			margin-right: 10%;
			margin-bottom: 50px;
		}
		h2 {
			font-size: 3.5em;
		}
		h3 {
			font-size:2em;
			margin-bottom:0;
		}
		h4 {
			color: #4e4e4e;
			font-size:1.5em;
			margin-top:0;
		}
		.skills {
			margin-bottom: 10px;
		}
		p {
			font-family: 'Open Sans';
			font-size: 1.5em;
		}
		li {
			font-family: 'Open Sans';
			font-size: 1.5em;
		}
		.keywords {
			background-color: #333333;
			color:#fff;
			padding: 6px;
			font-size: 1.2em;
		}
		blockquote {
			margin: 2em 10px;
  			padding: 1em 10px;
			border-left: 10px solid #edf0f5;
			font-family: 'Open Sans';
			font-size: 1.5em;
		}
		blockquote .name {
			font-weight:bold;
			font-family: "Montserrat";
		}
		@media (max-width: 1000px) {
  			.header {
    			font-size: 1.66em;
  			}
  			h2 {
  				font-size: 3em;
  			}
		}
		@media (max-width: 500px) {
			p {
				font-size:1.2em;
			}
			li {
				font-size:1.2em;
			}
			blockquote {
				font-size:1.2em;
			}
			h2 {
				font-size:2.3em;
			}
		}
    </style>
	<script src= "//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  </head>
  <body>
	<div class= "header">
		<h1>{{bio.capitalName}}</h1>
		<div id= "contact">
			{{#emailBool}}
			<div class= "contact-header">
				EMAIL
			</div>
			<a href= "mailto:{{bio.email.email}}" target= "_blanks">{{bio.email.email}}</a>
			{{/emailBool}}
			{{#phoneBool}}
			<div class= "contact-header">
				<br>PHONE
			</div>
			{{bio.phone.phone}}
			{{/phoneBool}}
		</div>
		<br>
		<div id= "profiles">
			{{#facebookBool}}<a href="https://www.facebook.com/{{bio.profiles.facebook}}" target= "_blank"><i class= "fa fa-facebook-square"></i></a>{{/facebookBool}}
			{{#twitterBool}}<a href="https://www.twitter.com/{{bio.profiles.twitter}}" target= "_blank"><i class= "fa fa-twitter-square"></i></a>{{/twitterBool}}
			{{#googleplusBool}}<a href="https://plus.google.com/{{bio.profiles.googleplus}}" target= "_blank"><i class= "fa fa-google-plus-square"></i></a>{{/googleplusBool}}
			{{#youtubeBool}}<a href="https://www.youtube.com/user/{{bio.profiles.youtube}}" target= "_blank"><i class= "fa fa-youtube-square"></i></a>{{/youtubeBool}}
			{{#vimeoBool}}<a href="http://vimeo.com/{{bio.profiles.vimeo}}" target= "_blank"><i class= "fa fa-vimeo-square"></i></a>{{/vimeoBool}}
			{{#githubBool}}<a href="https://www.github.com/{{bio.profiles.github}}" target= "_blank"><i class= "fa fa-github-square"></i></a>{{/githubBool}}
			{{#linkedinBool}}<a href= "https://www.linkedin.com/in/{{bio.profiles.linkedin}}" target= "_blank"><i class= "fa fa-linkedin-square"></i></a>{{/linkedinBool}}
			{{#pinterestBool}}<a href= "https://www.pinterest.com/{{bio.profiles.pinterest}}" target= "_blank"><i class= "fa fa-pinterest-square"></i></a>{{/pinterestBool}}
			{{#flickrBool}}<a href= "https://www.flickr.com/photos/{{bio.profiles.flickr}}/" target= "_blank"><i class= "fa fa-flickr"></i></a>{{/flickrBool}}
			{{#behanceBool}}<a href= "https://www.behance.net/{{bio.profiles.behance}}" target= "_blank"><i class= "fa fa-behance-square"></i></a>{{/behanceBool}}
			{{#codepenBool}}
			<a href= "http://codepen.io/{{bio.profiles.codepen}}" target= "_blank">
			<span class="fa-stack">
  				<i class="fa fa-square fa-stack-2x"></i><i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
			</span>
			</a>
			{{/codepenBool}}
			{{#blogBool}}<a href="{{bio.websites.blog}}" target= "_blank"><i class= "fa fa-rss-square"></i></a>{{/blogBool}}
		</div>		
	</div>
	<div class= "main">
		{{#aboutBool}}
		<div id= "about">
			<h2><i class= "fa fa-user left"></i> ABOUT</h2>
			<p>
				{{bio.summary}}
			</p>
		</div>
		{{/aboutBool}}
		{{#workBool}}
		<div id= "work">
			<h2><i class= "fa fa-suitcase left"></i> WORK EXPERIENCE</h2>
			{{#work}}
				<div class= "job">
					<h3>{{position}}, {{company}}</h3>
					<h4>{{startDateYear}} - {{endDateYear}}</h4>
					<p>{{summary}}</p>
					{{#workHighlights}}
					<h4>HIGHLIGHTS</h4>
					<ul>
						{{#highlights}}
						<li>{{.}}</li>
						{{/highlights}}
					</ul>
					{{/workHighlights}}
				</div>
			{{/work}}
		</div>
		{{/workBool}}
		{{#skillsBool}}
		<div id= "skills">
			<h2><i class= "fa fa-tasks left"></i> SKILLS</h2>
			{{#skills}}
				<h3 class= "skills">{{name}}</h3>
				{{#keywords}}
				<span class= "keywords">{{.}}</span>
				{{/keywords}}
			{{/skills}}
		</div><br>
		{{/skillsBool}}
		{{#educationBool}}
		<div id= "education">
			<h2><i class= "fa fa-graduation-cap left"></i> EDUCATION</h2>
			{{#education}}
				<h3>{{institution}} - {{studyType}}, {{area}}</h3>
				<h4>{{startDateYear}} - {{endDateYear}}</h4>
				<h4>COURSES</h4>
				<ul>
					{{#courses}}
					<li>{{.}}</li>
					{{/courses}}
				</ul>
			{{/education}}
		</div>
		{{/educationBool}}
		{{#awardsBool}}
		<div id= "awards">
			<h2><i class= "fa fa-trophy left"></i> AWARDS</h2>
			{{#awards}}
				<h3>{{title}} - {{awarder}}</h3>
				<h4>{{day}} {{month}} {{year}}</h4>
			{{/awards}}
		</div>
		{{/awardsBool}}
		{{#publicationsBool}}
		<div id= "publications">
			<h2><i class= "fa fa-book left"></i> PUBLICATIONS</h2>
			{{#publications}}
				<h3>{{name}}</h3>
				<h4>{{day}} {{month}} {{year}}</h4>
				<p><a href= "{{website}}" target= "_blank">{{website}}</a></p>
			{{/publications}}
		</div>
		{{/publicationsBool}}
		{{#referencesBool}}
		<div id= "references">
			<h2><i class= "fa fa-thumbs-up left"></i> REFERENCES</h2>
			{{#references}}
			<blockquote>
				{{reference}}
				<div class= "name"><br>- {{name}}</div>
			</blockquote><br>
			{{/references}}
		</div>
		{{/referencesBool}}

	</div>
  </body>
</html>
